body {
    background-color: #b854ff;
    color: #ffffff;
  }
  .nav1{
    background-color: #639;
    display: flex;
    justify-content: space-around;
  align-items: center;
}
.nav1 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
   font-size: 18px;
}
.nav1 a:hover{
    text-decoration: none;
    color: rgb(0, 110, 114);
   font-size: 18px;
   text-decoration: underline;
}
.container{
    display: flex;
    flex-direction: column;
    padding: -2px;
    text-align: center;
}
.nav1 h1{
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: -12px;
}
h1{
    font-size: 30px;
    text-align: center;
}
h2{
    color: rgb(236, 236, 236);
  font-size: 18px;
}
h3{
    font-weight: lighter;
}
.intro{
    display: flex;
    flex-direction: column;
}
.intro img{
    border-radius: 50%;
    width: 550px;
    margin-top: 50px;
}
.cont1{
    display: flex;
    flex-direction: row-reverse;
    align-items: center ;
}
.cont1 h3{
    margin-left: 70px;
    margin-right: 270px;
}
.cont2{
    margin-left: 270px;
    margin-top: -30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cont2 h3{
    margin-left: 70px;
    margin-right: 70px;
}
.profile{
    text-align: center;
    background-color: rgb(71, 31, 110);
    border: 2px solid rgb(190, 190, 190);
    width: fit-content;
    margin-left: 380px;
    border-radius: 25px;
}
.profile:hover{
    box-shadow: 0 0 40px rgb(248, 198, 255);
}

.profile p{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 300px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    border-radius: 25px;
    background: rgb(193, 37, 255);
}
.edit{
display: flex;
align-items: center;
justify-content: center;
font-size: 20px;
}
.edit:hover{
display: flex;
align-items: center;
justify-content: center;
font-size: 20px;
}
#edit{
background-color: green;
color: aliceblue;
margin-bottom: 30px;
}
#edit:hover{
    background-color: rgb(0, 255, 0);
    color: aliceblue;
    margin-left: 580px;
}

.form-group{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-left: 8px;
    font-size: 20px;
}
.form-button{
    display: flex;
    flex-direction: row;
}
footer{
    background-color: #639;
    color: rgb(255, 255, 255);
    width: fill;
    margin-top: 30px;
}

.profile-container{
    margin-top: 40px;
}
#themeToggleButton{
background-color: transparent;
border: 4px rgb(0, 104, 5) solid;
color: rgb(106, 255, 77);
border-radius: 15px;
font-size: 20px;
margin-top: 15px;
float: right;
}
#themeToggleButton:hover {
background-color: rgb(0, 104, 5);
transition: 300ms;
color: rgb(0, 0, 0);
border-radius: 15px;
font-size: 20px;
}
  
  #timer {
      text-align: center;
      margin-top: 50px;
    }
    
    #time {
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    
  #counter {
      text-align: center;
     font-size: 24px;
     display: flex;
     margin-left: 550px;
     flex-direction: column;
     width: 250px;
    color: rgb(226, 226, 226);
    }
    #counter label{
       margin: 25px;
       background-color: rgb(78, 0, 94);
   border-radius: 15px;
    }
  
  
    #settings{
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
     align-items: center;
     font-size: 24px;
    }
    #settings input[type="number"]{
    width: fit-content;
    height: 22px;
    margin: 15px;
    border-radius: 30px;
    font-size: 24px;
    border: solid 3px rgb(142, 0, 170);
    }
    button {
      font-size: 18px;
      padding: 10px 20px;
      margin: 0 5px;
    }
